.hero {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden; /* Ensure no content overflows */
    width: 100vw; /* Ensure the hero section takes up the full viewport width */
}

.heroItem {
    height: 90vh;
    width: 100vw; /* Ensure the hero item takes up the full width of the hero section */
    display: flex;
    border: 0;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: contain; /* Ensures the entire image is visible */
    background-repeat: no-repeat; /* Prevents the image from repeating */
    background-position: center; /* Centers the image */
    text-align: center;
    color: white;
    padding: 20px;
}

.heroItem::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5); /* Semi-transparent black overlay */
    z-index: 1; /* Place it behind the text */
}

.heroItem > * {
    position: relative;
    z-index: 2; /* Ensure the text is above the overlay */
}

.heroItem h2, .heroItem h5 {
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.8); /* Adds a shadow to the text */
}